<% include ./partials/head %>
    <main>
   <blockquote>
  <p>Users</p>
</blockquote>
<script>  
    alert("in inviteNewUser\.ejs ... ready to display New User button")
</script>
        <ul class="list-group" style="width:300px;margin:50px;">
            <li class="list-group-item"><a href="users/newuser" class="btn btn-primary btn-lg btn-block">Add New User</a>
        </ul>
    <main>
<% include ./partials/footer %>