<% include ./partials/head %>
    <main>
   <blockquote>
  <p>Users</p>
</blockquote>
<script>  
    alert("in userlist\.ejs main ready to display User List and Add New User button")
</script>
        <ul class="list-group" style="width:300px;margin:50px;">
            <% for(var i=0; i < userlist.length; i++) { %>
            <li class="list-group-item text-center">
                <a href="users/<%= userlist[i]._key %>">
                 <h3><span class="label label-default">
                    <%= userlist[i].username %>
                    </span>
                 </h3>
                    <%= userlist[i].email %>
                    <%= userlist[i].boolflag %>
                </a>
            </li>
            <% } %>
            <li class="list-group-item"><a href="users/newuser" class="btn btn-primary btn-lg btn-block">Add New User</a>
        </ul>
    <main>
<% include ./partials/footer %>